body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    background-color: aquamarine;
}

.main_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
}
.images{
    display: flex;
    width: 100vw;
}
.image-l{
    left: 10%;
    position: relative;
    gap: 10px;
}
